// file nullstzles
@import "nullstyle.scss";

$fz100: 100px;
%wh{
	width: 150px;
	height: 50px;
}

body{
	padding: 20px 40px 40px 40px;
	background:   url(https://cdn.pixabay.com/photo/2021/10/22/00/59/restaurant-6730811__340.jpg) right 25% no-repeat, url(https://cdn.pixabay.com/photo/2021/10/06/15/05/bedroom-6686061__340.jpg) 300px 250px  no-repeat;
	background-size: 40%, 70%;
	background-color: #78D4E1;	
}
.textbutton{
	margin: 10px 40px 0px 0px;
	@extend %wh;
	border-radius: 20px;
	font-size: 20px;
	&:hover{
		background-color: #34DE1F;
		}
	&:active{
			color: yellow;
		}
	border: 2px solid black;
	box-shadow: 4px 4px black; 
}
select{
	margin: 10px 40px 0px 0px;
	@extend %wh;
	border-radius: 20px;
	font-size: 20px;
	&:hover{
		background-color: #34DE1F;
	}
	border: 2px solid black;
	box-shadow: 4px 4px black;
}
.text_2{
border-radius: 20px;
width: 50px;
}	
.text_1{
	margin: 10px;
	border-radius: 20px;
	width: 50px;
	box-shadow: 4px 4px black;
	font-size: 20px;
	width: 100px;
}	
.block_wohnung{
	font-family: cursive;
	margin: 90px 0 0px 0px; 
	font-size: 60px;
	color: yellow;
	text-transform: uppercase;
	
	.traumwohnung_translate:hover{
		font-size: $fz100;
		transition-duration: 1s;
		color: green;
		transform: translate(250px, 50px);
	}

	.list li{
		transition-duration: 1s;
		transition: color 1s ease-in-out 2s padding 4s;
		//animation-name: circle;
		//animation-duration:1s;
		&:hover{
			color: green;
			padding: 0px 80px;
			font-size: 50px;
		}
		font-size: 30px;
		line-height: 80px;
		&:active{
			color: black;
		}
		&:first-child{
			margin: $fz100 0 0 0;
		}
		&:last-child{
			margin: $fz100 0 0 0;
			color: green;
			&:hover{
				color: yellow;
			}
			&:active{
			color: black;
			}
		}
	}
}

/*@keyframes circle{
	0%{
		left: 0px;
	}
	100%{
		left: 300px;
	}
}
*/

